body{
    background-image: linear-gradient(to right, rgb(143, 22, 199), rgb(79, 133, 148));
}
.container{
    margin: auto;
    width: 50%;
    text-align: center;
}
.image-box{
    width: 100%;
}
.image-box input[type="radio"]{
    width: 60px;
    height: 60px;
    display: inline-block;
    border: 1px solid #555;
    outline: none;
    appearance: none;
    cursor: pointer;
    box-shadow: 0 0 2px black;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}
.image-box input[type="radio"]:hover{
    transform: scale(1.1);
    box-shadow: 0 0 5px black;
}
#img-01{
    background-image: url(img-01.jpeg);
    background-size: cover;
}
#img-02{
    background-image: url(img-02.jpeg);
    background-size: cover;
}
#img-03{
    background-image: url(img-03.jpeg);
    background-size: cover;
}
#img-04{
    background-image: url(img-04.jpeg);
    background-size: cover;
}
#img-05{
    background-image: url(img-05.jpeg);
    background-size: cover;
}
.image-bg{
    width: 100%;
    height: 300px;
    margin-top: 10px;
    border: 1px solid #222;
    box-shadow: 0 0 5px #000;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}
#img-01:checked~.image-bg{
    background-image: url(img-01.jpeg);
    background-size: cover;
}
#img-02:checked~.image-bg{
    background-image: url(img-02.jpeg);
    background-size: cover;
}
#img-03:checked~.image-bg{
    background-image: url(img-03.jpeg);
    background-size: cover;
}
#img-04:checked~.image-bg{
    background-image: url(img-04.jpeg);
    background-size: cover;
}
#img-05:checked~.image-bg{
    background-image: url(img-05.jpeg);
    background-size: cover;
}